#navbar_buttons {
    margin-right: 30px;
}

#theme-item {
    display: flex;
    flex-direction: column;
}

#form-check-form-switch {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 12px;
}

#form-check-input {
    font-size: 10px;
}

.form-check-label {
    font-size: auto;
    color: #0d6efd;
}